################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MOID-WisRic/v16/ipch/AutoPCH/bb367ed2e58cced2/MOID-WISRIC.ipch
